<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>serviceID</key>
		<string>6</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.6</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>4</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.4</string>
		<key>serviceLogo</key>
		<string>ic_edit</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>2</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.2</string>
		<key>serviceLogo</key>
		<string>ic_cloud</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.6</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
	<dict>
		<key>serviceID</key>
		<string>0</string>
		<key>serviceName</key>
		<string>speedAccess.service.name.10</string>
		<key>serviceLogo</key>
		<string>ic_global</string>
		<key>serviceOrder</key>
		<string>0</string>
	</dict>
</array>
</plist>
