<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>information.service.service_1</string>
	<string>information.service.service_2</string>
	<string>information.service.service_3</string>
	<string>information.service.service_4</string>
	<string>information.service.service_5</string>
	<string>information.service.service_6</string>
	<string>information.service.service_7</string>
	<string>information.service.service_8</string>
</array>
</plist>
