<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string></string>
	<string>checkIMEIID</string>
	<string>mobileBrandID</string>
	<string>feedbackID</string>
	<string>spamReportID</string>
	<string>helpSalimID</string>
	<string>verificationID</string>
	<string>coverageID</string>
	<string>internetSpeedID</string>
	<string>compliantID</string>
	<string>suggestionID</string>
	<string>compliantID</string>
	<string>compliantID</string>
</array>
</plist>
