<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.0</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_info</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>ic_info_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.0</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.1</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_doc</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_doc_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.1</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.2</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_terms</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_terms_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.2</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.3</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_serv_pack</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_serv_packbig</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.3</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.4</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_time</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_time_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.4</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.5</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_fees</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_fees_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.5</string>
	</dict>
	<dict>
		<key>serviceInfoItemName</key>
		<string>serviceInfoItemName.6</string>
		<key>serviceInfoItemLogoName</key>
		<string>btn_contact</string>
		<key>serviceInfoItemBigLogoName</key>
		<string>btn_contact_big</string>
		<key>serviceInfoItmeDetailedDescription</key>
		<string>serviceInfoItmeDetailedDescription.6</string>
	</dict>
</array>
</plist>
