<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language</key>
		<string>en</string>
		<key></key>
		<dict>
			<key>expectedTime</key>
			<string></string>
			<key>termsAndCondition</key>
			<string>The consumer should:
• Submit the complaint to the service provider
• Take the reference number for the complaint
• In case, the complaint is not resolved by the service provider, then raise it with the TRA
• Attach the above required documents to the TRA through website: www.tra.gov.ae </string>
			<key>officer</key>
			<string>Consumer Affairs Manager </string>
			<key>requiredDocuments</key>
			<string>1. Identity Card
2. Written authorization or power of attorney letter (for business customers only)
3. Reference number of the complaints service provider
4. Any other document to support the complaint (such as your phone bill, account details, and copies of all written correspondence from your service provider, etc. </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>None</string>
			<key>about</key>
			<string>This service involves settling disputes of telecom consumers with their service providers. </string>
			<key>name</key>
			<string>Addressing Consumer disputes request with licensees on telecommunications services</string>
		</dict>
		<key>New item - 3</key>
		<dict>
			<key>expectedTime</key>
			<string>Within 3 working days; could take more time based on the subject of the complaint </string>
			<key>termsAndCondition</key>
			<string>Applicant information</string>
			<key>officer</key>
			<string>Call center administrator </string>
			<key>requiredDocuments</key>
			<string>None </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>None </string>
			<key>about</key>
			<string>You can file a complaint or put remarks about your telecom service provider </string>
			<key>name</key>
			<string>Complain about service provider </string>
		</dict>
		<key>New item - 4</key>
		<dict>
			<key>expectedTime</key>
			<string>within 3 working days</string>
			<key>termsAndCondition</key>
			<string>For individuals: device is compatible with the technical requirements approved from TRA and published on its website
For companies: Company to be registered with TRA / approved device from TRA</string>
			<key>officer</key>
			<string>Type Approval Manager
E Services – Type Approval System</string>
			<key>requiredDocuments</key>
			<string>For individuals:
1 - Template of customs clearance
2 - customs documents for the shipment
3 - technical specifications of the equipment (if necessary)

For companies:
1 - model of customs clearance
2- Type Approval Certificate
3- Customs Declaration
4- Bill of lading
5- Purchase Order
6- Purchase invoice
7-Technical specifications for devices</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>None</string>
			<key>about</key>
			<string>This service involves seeking customs clearance permit for telecommunications equipment in the UAE / service will be requested from:
1 - individuals who are interested in importing telecommunications equipment for personal use.
2 - Manufacturers and suppliers of telecommunications equipment in the UAE registered with TRA.</string>
			<key>name</key>
			<string>Customs Clearance Permits for Telecommunications Equipment</string>
		</dict>
		<key>11</key>
		<dict>
			<key>expectedTime</key>
			<string>Within 3 working days or more according to the subject of the suggestion </string>
			<key>termsAndCondition</key>
			<string>Information of the applicant</string>
			<key>officer</key>
			<string>Call Center Administrator</string>
			<key>requiredDocuments</key>
			<string>None</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>None</string>
			<key>about</key>
			<string>This service involves submitting a suggestion to TRA </string>
			<key>name</key>
			<string>Submit a suggestion</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>expectedTime</key>
			<string>Three Days</string>
			<key>termsAndCondition</key>
			<string>1 Fill in the application form and submit the required documents 2. Pay spectrum fees</string>
			<key>officer</key>
			<string>Spectrum Allocation Assistant Engineer</string>
			<key>requiredDocuments</key>
			<string>1. Trade license / owner’s passport copy 2. A letter from the supplier including equipment specifications and serial number 3. A copy of boat ownership or valid navigational certificate or coordination letter/ valid aircraft registration certificate 4. Equipment manual 5. A copy of the receipt towards payment of the application fee of 500 Dirhams ( excluding fishing boats)</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>According to the Spectrum Fees Regulation Payment Channel; - e-Dirham points of sale in TRA Customer service centers. - Bank transfer. - Check deposit at TRA bank account. - TRA mobile application UAE TRA. - Electronic payment through TRA website.</string>
			<key>about</key>
			<string>This service involves applying for authorization to use radio equipment on planes / ships for the purposes of safety, aerial and marine navigation </string>
			<key>name</key>
			<string>Issuing Spectrum Authorization for Aerial and Marine Radio Services</string>
		</dict>
		<key>9</key>
		<dict>
			<key>expectedTime</key>
			<string>Immediate</string>
			<key>termsAndCondition</key>
			<string>The application was designed to give as much accurate results as possible. However, PC configuration, usage of home wireless router, other connected devices in use while testing the broadband connection, as well as some external factors can affect the results obtained.</string>
			<key>officer</key>
			<string>ICT Analyst</string>
			<key>requiredDocuments</key>
			<string>No documents are required</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>Free</string>
			<key>about</key>
			<string>The application will provide you with an indication of the speed of your broadband connection that your ISP is able to guarantee to your network through measuring:
1. Download speed: determines the speed of receiving files from the internet.
2. Upload speed: determines the speed of sending files to the internet.
It also performs a Ping test to measure the time it takes to get a response from the ISP’s test server.</string>
			<key>name</key>
			<string>Broadband speed test</string>
		</dict>
		<key>New item - 6</key>
		<dict>
			<key>expectedTime</key>
			<string>Three Days</string>
			<key>termsAndCondition</key>
			<string>1. Fill in the application and submit the required documents 2. Pay modification fees</string>
			<key>officer</key>
			<string>Spectrum Allocation Assistant Engineer</string>
			<key>requiredDocuments</key>
			<string>1.A copy of the previous Spectrum authorization 2.Trade license / owner’s passport copy 3.A letter from the supplier including equipment specifications and serial number 4.A copy of boat ownership or valid navigational certificate or coordination letter/ valid aircraft registration certificate 5.A letter explaining the details of modification 6.Equipment manual </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>According to the spectrum fees regulation Payment Channel; - e-Dirham points of sale in TRA Customer service centers. - Bank transfer. - Check deposit at TRA bank account. - TRA mobile application UAE TRA. - Electronic payment through TRA website.</string>
			<key>about</key>
			<string>This service involves modifying radio equipment on planes / ships for the purposes of safety, aerial and marine navigation</string>
			<key>name</key>
			<string>Modify Spectrum Authorization for Aerial and Marine Radio Services</string>
		</dict>
		<key>New item - 7</key>
		<dict>
			<key>expectedTime</key>
			<string>Three Days</string>
			<key>termsAndCondition</key>
			<string>1. Fill in the application form and submit the required documents 2. Pay spectrum fees</string>
			<key>officer</key>
			<string>Spectrum Allocation Assistant Engineer </string>
			<key>requiredDocuments</key>
			<string>1.Trade license / owner’s passport copy 2.A copy of the previous spectrum authorization 3.A copy of boat ownership or valid navigational certificate or coordination letter / valid aircraft registration certificate.</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>According to the Spectrum Fees Regulation Payment Channel; - e-Dirham points of sale in TRA Customer service centers. - Bank transfer. - Check deposit at TRA bank account. - TRA mobile application UAE TRA. - Electronic payment through TRA website.</string>
			<key>about</key>
			<string>This service involves renewing radio equipment for use on planes / ships for the purposes of safety , aerial and marine navigation</string>
			<key>name</key>
			<string>Renew Spectrum Authorization for Aerial and Marine Radio Services</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>expectedTime</key>
			<string>Three Days</string>
			<key>termsAndCondition</key>
			<string>1. Fill in the application and submit the required documents</string>
			<key>officer</key>
			<string>Spectrum Allocation Assistant Engineer</string>
			<key>requiredDocuments</key>
			<string>1. Cancellation letter from the customer. 2. A copy of the previous Spectrum Authorization</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>According to the Spectrum Fees Regulation Payment Channel; - e-Dirham points of sale in TRA Customer service centers. - Bank transfer. - Check deposit at TRA bank account. - TRA mobile application UAE TRA. - Electronic payment through TRA website.</string>
			<key>about</key>
			<string>This service involves cancelling radio equipment on planes / ships for the purposes of safety, aerial and marine navigation</string>
			<key>name</key>
			<string>Cancel Spectrum Authorization for Aerial and Marine Radio Services</string>
		</dict>
	</dict>
	<dict>
		<key>language</key>
		<string>ar</string>
		<key>no index</key>
		<dict>
			<key>expectedTime</key>
			<string>تهدف هيئة تنظيم الاتصالات إلى تسوية نزاعات المستهلكين بشكل كامل في غضون 21 يوم عمل. قد تستغرق بعض الحالات وقتاً أطول وذلك حسب موضوع وطبيعة النزاع. </string>
			<key>termsAndCondition</key>
			<string>ينبغي على المستهلكين:
• أولاً تقديم الشكوى لدى مزود الخدمة الخاص بك
• الحصول على رقم مرجعي للشكوى قبل تقديم النزاع إلى الهيئة وذلك ليتم معالجتها وفقاً لإجراءات التعامل مع الشكاوى المنفذة لديه
• في حالة عدم رضا أو عدم حصول المستهلك على نتيجة معالجة الشكوى يمكنه رفعها للهيئة.
• إرفاق الوثائق المطلوبة أعلاه إلى الهيئة عن طريق الموقع الإلكتروني: www.tra.gov.ae </string>
			<key>officer</key>
			<string>مدير شؤون المستهلكين</string>
			<key>requiredDocuments</key>
			<string>1.بطاقة الهوية 
2.تفويض خطي أو توكيل رسمي (لعملاء الشركات فقط) 
3.الرقم المرجعي للشكوى من مزود الخدمة 
4.أي وثيقة أخرى لدعم الشكوى (مثل فاتورة الهاتف، تفاصيل الحساب، ونسخاً من جميع المراسلات الخطية من مزود الخدمة الخاص بك، وغيرها</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>لايوجد </string>
			<key>about</key>
			<string>هي خدمة متوفرة لمستهلكي خدمات الاتصالات في دولة الإمارات العربية المتحدة بهدف مساعدتهم في تسوية أي نزاع قد يكون لديهم مع أي من مزودي خدمات الاتصالات بشأن خدمات الاتصالات المقدمة لهم. </string>
			<key>name</key>
			<string>طلب معالجة نزاعات المستهلكين مع المرخص لهم حول خدمات الإتصالات</string>
		</dict>
		<key>no index - 1</key>
		<dict>
			<key>expectedTime</key>
			<string>خلال 3 أيام عمل و قد يستغرق الأمر أكثر من ذلك بناء على ماهية الشكوى</string>
			<key>termsAndCondition</key>
			<string>معلومات عن مقدم الطلب </string>
			<key>officer</key>
			<string>مسؤل مركز الاتصال</string>
			<key>requiredDocuments</key>
			<string>لايوجد </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>لايوجد </string>
			<key>about</key>
			<string>بإمكانك تقديم شكوى أو ملاحظة على مزود الخدمة الخاص بك</string>
			<key>name</key>
			<string>تقديم شكوى على مزود الخدمة</string>
		</dict>
		<key>New item - 4</key>
		<dict>
			<key>expectedTime</key>
			<string>خلال 3 أيام عمل </string>
			<key>termsAndCondition</key>
			<string>للأفراد: جهاز متوافق مع المتطلبات الفنية المعتمدة من الهيئة والمنشورة على موقعها
للشركات: أن تكون شركة مسجلة مع الهيئة / جهاز معتمد من الهيئة </string>
			<key>officer</key>
			<string>مسؤول اعتماد النوعية</string>
			<key>requiredDocuments</key>
			<string>للأفراد:
1- نموذج التخليص الجمركي
2- الوثائق الجمركية الخاصة بالشحنة
3- المواصفات الفنية للأجهزة ( إن لزم )

للشركات:
1-نموذج التخليص الجمركي
2-شهادة اعتماد النوعية
3-البيان الجمركي
4-بوليصة الشحن
5-طلب الشراء
6-فاتورة الطلب
7-المواصفات الفنية للأجهزة </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>لا يوجد</string>
			<key>about</key>
			<string>إصدار تصريح التخليص الجمركي لأجهزة الاتصالات في الدولة/ يتم طلب الخدمة من:
1-الأفراد الذين يرغبون في استيراد أجهزة اتصالات للاستخدامات الشخصية.
2-المصنعين والموردين لأجهزة الاتصالات في الدولة والمسجلين مع الهيئة</string>
			<key>name</key>
			<string>إصدار تصاريح التخليص الجمركي لأجهزة الاتصالات</string>
		</dict>
		<key>11</key>
		<dict>
			<key>expectedTime</key>
			<string>خلال 3 أيام عمل و قد يستغرق الأمر أكثر من ذلك بناء على ماهية الاقتراح</string>
			<key>termsAndCondition</key>
			<string>معلومات عن مقدم الطلب</string>
			<key>officer</key>
			<string>مسؤل مركز الاتصال</string>
			<key>requiredDocuments</key>
			<string>معلومات عن مقدم الطلب </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>لا يوجد </string>
			<key>about</key>
			<string>تقديم اقتراح للهيئة </string>
			<key>name</key>
			<string>تقديم مقترح</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>expectedTime</key>
			<string>3 أيام</string>
			<key>termsAndCondition</key>
			<string>1.تعبئة طلب الخدمة واستيفاء المستندات المطلوبة 2.دفع رسوم الطيف الترددي </string>
			<key>officer</key>
			<string>مساعد مهندس تخصيص الطيف الترددي </string>
			<key>requiredDocuments</key>
			<string>1.الرخصة التجارية / صورة جواز المالك 2.رسالة من المورد تتضمن مواصفات المعدات والرقم التسلسلي 3.صورة من ملكية القارب أو الشهادة الملاحية سارية المفعول أو ورقة تنسيق / شهادة تسجيل الطائرة سارية المفعول 4.كتيب المعدات 5.إرفاق نسخة من إيصال دفع رسوم الاستمارة 500 درهم (عدا قوارب الصيد)</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>حسب اللائحة التنظيمية لرسوم الطيف الترددي قنوات الدفع: - نقاط بيع الدرهم الالكتروني في مركز خدمة متعاملين الهيئة. - الحوالة البنكية. - ايداع الشيكات في حساب الهيئة. - التطبيق الذكي للهيئة UAE TRA. - الدفع الالكتروني عن طريق الموقع الهيئة.</string>
			<key>about</key>
			<string>استخدام أجهزة لاسلكية على الطائرات/السفن لأغراض السلامة والملاحة الجوية والبحرية </string>
			<key>name</key>
			<string>إصدار تصاريح الطيف الترددي للخدمات الراديوية البحرية والجوية</string>
		</dict>
		<key>9</key>
		<dict>
			<key>expectedTime</key>
			<string>فوري</string>
			<key>termsAndCondition</key>
			<string>لقد تم تصميم التطبيق لإعطاء نتائج دقيقة قدر الإمكان. ومع ذلك، فان تكوين حاسبك الآلي، واستخدام جهاز التوجيه اللاسلكية المنزلية، الأجهزة الأخرى المتصلة التي قد تستخدم أثناء الاختبار، بالإضافة الى لبعض العوامل الخارجية يمكن تؤثر على النتائج التي تم الحصول عليها. </string>
			<key>officer</key>
			<string>محلل نظم الاتصالات </string>
			<key>requiredDocuments</key>
			<string>لا تتطلب الخدمة أية وثائق</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>لا يوجد أي رسوم </string>
			<key>about</key>
			<string>يوفر هذا الاختبار مؤشراً على سرعة خط البرودباند الخاص بالمستخدم التي يستطيع مزود خدمة ضمانها وصولا الى شبكته من خلال قياس:
1. سرعة تحميل البيانات: سرعة استقبال الملفات من الإنترنت
2. سرعة رفع البيانات: سرعة إرسال الملفات إلى الإنترنت
كما يقوم الاختبار بقياس ال Ping وهو قياس سرعة استجابة الخادم عن طريق قياس الوقت المستغرق للحصول على رد من الخادم اذي يقع في شبكة مزود خدمة البرودباند </string>
			<key>name</key>
			<string>اختبار سرعة البرودباند</string>
		</dict>
		<key>New item - 6</key>
		<dict>
			<key>expectedTime</key>
			<string>3 أيام </string>
			<key>termsAndCondition</key>
			<string>1.تعبئة طلب الخدمة واستيفاء المستندات المطلوبة 2.دفع رسوم التعديل </string>
			<key>officer</key>
			<string>مساعد مهندس تخصيص الطيف الترددي</string>
			<key>requiredDocuments</key>
			<string>1.نسخة من تصريح الطيف الترددي السابق 2.الرخصة التجارية / صورة جواز المالك 3.رسالة من المورد تتضمن مواصفات المعدات والرقم التسلسلي 4.صورة من ملكية القارب أو الشهادة الملاحية سارية المفعول او ورقة تنسيق / شهادة تسجيل الطائرة سارية المفعول 5.رسالة تشرح تفاصيل التعديل 6.كتيب المعدات </string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>حسب اللائحة التنظيمية لرسوم الطيف الترددي قنوات الدفع: - نقاط بيع الدرهم الالكتروني في مركز خدمة متعاملين الهيئة. - الحوالة البنكية. - ايداع الشيكات في حساب الهيئة. - التطبيق الذكي للهيئة UAE TRA. - الدفع الالكتروني عن طريق الموقع الهيئة.</string>
			<key>about</key>
			<string>تعديل تصاريح الطيف الترددي لاستخدام أجهزة لاسلكية على الطائرات/السفن لأغراض السلامة والملاحة الجوية والبحرية </string>
			<key>name</key>
			<string>تعديل تصاريح الطيف الترددي للخدمات الراديوية البحرية والجوية</string>
		</dict>
		<key>New item - 7</key>
		<dict>
			<key>expectedTime</key>
			<string>3 أيام </string>
			<key>termsAndCondition</key>
			<string>1.تعبئة طلب الخدمة واستيفاء المستندات المطلوبة 2.دفع رسوم الطيف الترددي</string>
			<key>officer</key>
			<string>مساعد مهندس تخصيص الطيف الترددي</string>
			<key>requiredDocuments</key>
			<string>1.الرخصة التجارية / صورة جواز المالك 2.نسخة من تصريح الطيف الترددي السابق 3.صورة من ملكية القارب أو الشهادة الملاحية سارية المفعول أو ورقة تنسيق / شهادة تسجيل الطائرة سارية المفعول</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>حسب اللائحة التنظيمية لرسوم الطيف الترددي قنوات الدفع: - نقاط بيع الدرهم الالكتروني في مركز خدمة متعاملين الهيئة. - الحوالة البنكية. - ايداع الشيكات في حساب الهيئة. - التطبيق الذكي للهيئة UAE TRA. - الدفع الالكتروني عن طريق الموقع الهيئة.</string>
			<key>about</key>
			<string>تجديد تصريح الطيف الترددي لاستخدام أجهزة لاسلكية على الطائرات/السفن لأغراض السلامة والملاحة الجوية والبحرية</string>
			<key>name</key>
			<string>تجديد تصاريح/ تراخيص الطيف الترددي للخدمات الراديوية البحرية والجوية</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>expectedTime</key>
			<string>3 أيام</string>
			<key>termsAndCondition</key>
			<string>تعبئة طلب الخدمة واستيفاء المستندات المطلوبة </string>
			<key>officer</key>
			<string>مساعد مهندس تخصيص الطيف الترددي</string>
			<key>requiredDocuments</key>
			<string>1.رسالة من المتعامل بإلغاء التصريح 2.نسخة من تصريح الطيف الترددي السابق</string>
			<key>package</key>
			<string></string>
			<key>fee</key>
			<string>حسب اللائحة التنظيمية لرسوم الطيف الترددي قنوات الدفع: - نقاط بيع الدرهم الالكتروني في مركز خدمة متعاملين الهيئة. - الحوالة البنكية. - ايداع الشيكات في حساب الهيئة. - التطبيق الذكي للهيئة UAE TRA. - الدفع الالكتروني عن طريق الموقع الهيئة.</string>
			<key>about</key>
			<string>إلغاء تصاريح الطيف الترددي لاستخدام أجهزة لاسلكية على الطائرات/السفن لأغراض السلامة والملاحة البحرية والجوية</string>
			<key>name</key>
			<string>إلغاء تصاريح الطيف الترددي للخدمات الراديوية البحرية والجوية</string>
		</dict>
	</dict>
</array>
</plist>
