<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>tabBarMenu_item_1</string>
	<string>tabBarMenu_item_2</string>
	<string>tabBarMenu_item_3</string>
	<string>tabBarMenu_item_4</string>
</array>
</plist>
