<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selectedImage</key>
		<string>ic_home_act</string>
		<key>normalImage</key>
		<string>ic_home</string>
		<key>id</key>
		<string>0</string>
		<key>title</key>
		<string>tabBarMenu_item_1</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ic_favorites_active</string>
		<key>normalImage</key>
		<string>ic_favorites</string>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>tabBarMenu_item_2</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ic_info_act</string>
		<key>normalImage</key>
		<string>ic_info</string>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>tabBarMenu_item_3</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ic_inq_act</string>
		<key>normalImage</key>
		<string>ic_inq</string>
		<key>id</key>
		<string>3</string>
		<key>title</key>
		<string>tabBarMenu_item_4</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ic_settings_act</string>
		<key>normalImage</key>
		<string>ic_settings</string>
		<key>id</key>
		<string>4</string>
		<key>title</key>
		<string>tabBarMenu_item_5</string>
	</dict>
</array>
</plist>
